.card {
  font-size: 1.8rem;
  width: 37rem;
  height: 24rem;
  display: flex;
  align-items: flex-end;
}

.subHeading {
  font-size: 1.4rem;
  margin-top: 1.6rem;
}

.cta {
  display: flex;
  margin-top: 2.4rem;
}

.arrow {
  margin-left: 0.8rem;
}
