.card {
  font-size: 1.8rem;
  position: relative;
  width: 37rem;
  height: 24rem;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  color: #000000;
  margin-right: 3rem;
  border-radius: 4px;
}

.textWrap {
  margin-left: 3.2rem;
  margin-bottom: 3.2rem;
}

.imgWrap {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(80px) translateY(-80px);
}
.img {
  width: 22rem;
  height: 22rem;
}

.heading {
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.subHeading {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.cta {
  display: flex;
}
.arrow {
  margin-left: 0.8rem;
}
