@import "../../../breakpoints.scss";

.card {
  font-size: 1.8rem;
  position: relative;
  width: 37rem;
  height: 24rem;
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  color: #000000;
  margin-right: 0rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.textWrap {
  margin-left: 3.2rem;
  margin-bottom: 3.2rem;
}

.imgWrap {
  position: absolute;
  top: 0;
  right: 0;
}

.Chopper {
  transform: translateX(35px) translateY(-80px);
  img {
    width: 18rem;
    height: 22rem;
  }
}

.Device {
  transform: translateX(80px) translateY(-70px);

  img {
    width: 20rem;
    height: 20rem;
  }
}

.Headset {
  transform: translateX(20px) translateY(-80px);
  img {
    width: 19.5;
    height: 22rem;
  }
}

.heading {
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.subHeading {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.cta {
  display: flex;
  color: #f65928;
  font-weight: bold;
  font-size: 14.4px;
  line-height: 17px;
}
.arrow {
  margin-left: 0.8rem;
}

@include tablet {
  .card {
    margin-right: 3rem;
  }
}
