@import "../../breakpoints.scss";

.hero {
  font-size: 1.8rem;
  padding: 3rem 2.5rem;
}

.heading1 {
  margin-bottom: 2.8rem;
  font-weight: bold;
}

.heading2 {
  font-weight: bold;
  max-width: 47rem;
  font-size: 5.6rem;
  margin-bottom: 2.4rem;
}

.subHeading {
  margin-bottom: 2.8rem;
}

.buttonWrap {
  display: flex;
}

.heroButton {
  margin-right: 2.1rem;
}

@include tablet {
  .hero {
    padding: 4rem 10.5rem;
  }
}

@include desktop {
  .hero {
    padding: 4rem 26.5rem;
  }
}
