.hero {
  font-size: 1.8rem;
  padding: 3rem 26.5rem;
}

.heading1 {
  margin-bottom: 2.8rem;
}

.heading2 {
  font-size: 5.6rem;
  margin-bottom: 2.4rem;
}

.subHeading {
  margin-bottom: 2.8rem;
}

.buttonWrap {
  display: flex;
}

.button {
  margin-right: 2.1rem;
}
