@import "../../breakpoints.scss";

.carousel {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 10.5rem;
}

@include tablet {
  .carousel {
    flex-direction: row;
    padding: 8rem 0 0 26.5rem;
  }
}
