@import "../../breakpoints.scss";

.nav {
  font-size: 1.4rem;
  padding: 4rem 10.5rem;
  display: flex;
  justify-content: space-between;
}

.navWrap {
  ul {
    display: flex;
    align-items: center;
  }
}

.navItem {
  display: none;
  margin-right: 3.2rem;
}

@include tablet {
  .nav {
    padding: 4rem 26.5rem;
  }
  .navItem {
    display: inline;
  }
}
